#modal {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

#modal-background {
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

#modal-content {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  border-radius: 10px;
  height: 250px;
  display: flex;
  align-items: center;
}

#modal-content * {
  margin: 5px 10px;
}
