/* 
border color #91c1e5
*/
body {
  border: 0;
  margin: 0;
  padding: 10px 0 50px 0;
  font-family: "Soleil_Medium", Helvetica, Arial, serif;
  box-sizing: border-box;
  background-color: #f9f5f2;
}

.main {
  width: 80%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-align: center;
}

.container_row {
  display: flex;
}

.container_col {
  display: flex;
  flex-direction: column;
}

.box {
  height: 100px;
  width: 100px;
}

input {
  border-radius: 10px;
}

a {
  text-decoration: none;
  font-size: 1.1em;
}

label {
  display: block;
  padding-top: 5px;
}

input {
  margin-left: 20px;
  text-align: center;
}

button {
  display: block;
  background: #91c1e5;
  color: #ffffff;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 5px 5px 0px 0px #dedede;
  transition: all 0.2s ease;
}

button a {
  color: inherit;
}

button:hover {
  background: #49b6ff;
  color: #ffd95c;
  box-shadow: none;
}

.error {
  color: red;
  font-weight: bold;
  /* display: block; */
  margin-bottom: 15px;
}
